# Personal files
*.pyc
Examples/*/*.png
Examples/*/bla*
not2git
*.svg
*.pse
*.agr
*.xcf
tests/__pycache__
tests/tupa_test


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Examples/COORDINATE/runtime_parallel.dat
Examples/ATOM/runtime_parallel.dat
benchmark.png
